
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: sans-serif;
}

a{
    text-decoration: none;
}

.container-fluid {
    padding: 0;
}

.container {
    max-width: 110rem;
    padding: 3rem 0 10rem 0;
}

@media(max-width: 112.5rem) {
    .container {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.content {
    padding-top: 5.2rem;
    font-stretch: condensed;
    line-height: 3rem;
}

header {
    background: url("../images/header_image@2x.png") center 0;
    background-size: cover;
    min-height: 100vh;
}

@media(max-width: 112.5rem) {
    header {
        background: url("../images/header_image.png") center 0;
        background-size: cover;
    }
}

.arrow-back {
    width: 4rem;
    height: 4rem;
    background: url("../images/arrow_back@2x.png") center 0;
    background-size: cover;
}

.back-sign {
    padding-left: 1.5rem;
    color: #193a4a;
    font-size: 2rem;
    font-weight: bold;
}

.logo-sigma {
    width: 13rem;
    height: 3.55rem;
    background: url("../images/logo_sigma@2x.png") center 0;
    background-size: cover;
}

.logo-sigmavia {
    width: 25rem;
    height: 5.2rem;
    background: url("../images/logo_sigmavia@2x.png") center 0;
    background-size: cover;
    margin-right: 4rem;
}

@media(max-width: 112.5rem) {
    .arrow-back {
        width: 2.62rem;
        height: 2.62rem;
        background: url("../images/arrow_back.png") center 0;
        background-size: cover;
    }

    .back-sign {
        padding-left: 1rem;
        font-size: 1.5rem;
    }

    .logo-sigma {
        width: 8.2rem;
        height: 2.3rem;
        background: url("../images/logo_sigma.png") center 0;
    }

    .logo-sigmavia {
        width: 17.4rem;
        height: 3.7rem;
        background: url("../images/logo_sigmavia.png") center 0;
        margin-right: 2rem;
    }
}

h1 {
    position: relative;
    font-size: 6.8rem;
    font-weight: bold;
    padding-top: 10rem;
    color: #ff3d42;
}

h1:after {
    position: absolute;
    content: "";
    height: .125rem;
    width: 30%;
    background-color: #ff3d42;
    bottom: -9rem;
    left: 35%;
}

.subtitle {
    font-size: 3.9rem;
    font-weight: bold;
    padding-bottom: 9rem;
}

.statement {
    font-size: 2.7rem;
    font-style: italic;
}

.statement-body {
    font-size: 3.2rem;
    font-weight: bold;
    color: #ff3d42;
}

@media(max-width: 112.5rem) {
    h1 {
        font-size: 3.8rem;
        padding-top: 5rem;
    }

    h1:after {
        position: absolute;
        content: "";
        height: .1rem;
        width: 30%;
        bottom: -5rem;
        left: 35%;
    }

    .subtitle {
        font-size: 3rem;
        padding-bottom: 5rem;
    }

    .statement {
        font-size: 2rem;
    }

    .statement-body {
        font-size: 2.5rem;
    }
}

.how-we-work .container {
    padding: 9rem 0 13rem 0;
}

h2 {
    font-size: 5rem;
    font-weight: bold;
    padding-bottom: 1.5rem;
    font-stretch: condensed;
}

.how-we-work .subtitle {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.7rem;
    font-weight: normal;
    text-align: center;
    padding-bottom: 9rem;
}

.card {
    position: relative;
    width: 25%;
    border: none;
    text-align: center;
}

.card:before {
    position: absolute;
    content: '';
    background: url("../images/how_we_work_circle@2x.png") center 0;
    background-size: cover;
    width: 1.6rem;
    height: 1.6rem;
    top: -4rem;
    left: 47%;
}

.card:first-of-type:before {
    position: absolute;
    content: '';
    background: url("../images/how_we_work_plane@2x.png") center 0;
    background-size: cover;
    width: 5.6rem;
    height: 5.6rem;
    top: -6rem;
    left: 40%;
}

.card:after {
    position: absolute;
    content: '';
    background: url("../images/how_we_work_line@2x.png") center 0;
    background-size: cover;
    height: 0.0625rem;
    width: 18rem;
    top: -3rem;
    left: 68%;
}

.card:last-of-type:after {
    display: none;
}

h5 {
    font-size: 2rem;
    font-weight: bold;
    font-stretch: condensed;
    text-transform: uppercase;
    color: #ff3d42;
}

.card-title {
    padding-bottom: 3rem;
    font-size: 2rem;
}

.card-text {
    justify-content: flex-end;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    font-style: italic;
    color: #c0c0c0;
}

.card-body {
    justify-content: space-between;
}

.wire-framing {
    background: url("../images/wireframes-background.jpg") center 0;
    background-size: cover;
    padding: 8rem 0;
}

.wire-framing .container {
    position: relative;
}

.wire-framing .subtitle {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.7rem;
    font-weight: normal;
}

.wire-framing h2, .wire-framing p {
    color: white;
    position: absolute;
    top: 0;
    left: 0;
}

.wire-framing p {
    top: 10rem;
}

.row-1 {
    justify-content: flex-end;
}

.row-2, .row-3 {
    justify-content: space-between;
}

.row-1, .row-2 {
    padding-bottom: 8.5rem;
}

.wire-gram-1 {
    width: 24.848rem;
    height: 13.8rem;
    background: url("../images/wireframes/wiregrame_1@2x.png") center 0;
    background-size: cover;
    position: relative;
}

.wire-gram-1:after {
    content: '';
    width: 0.75rem;
    height: 3.5rem;
    background: url("../images/wireframes/arrow_down@2x.png") center 0;
    background-size: cover;
    position: absolute;
    bottom: -6rem;
    left: 50%;
}

.wire-gram-2 {
    width: 24.848rem;
    height: 13.8rem;
    background: url("../images/wireframes/wiregrame_2@2x.png") center 0;
    background-size: cover;
    position: relative;
}

.wire-gram-2:after {
    content: '';
    width: 0.75rem;
    height: 3.5rem;
    background: url("../images/wireframes/arrow_down@2x.png") center 0;
    background-size: cover;
    position: absolute;
    bottom: -6rem;
    left: 50%;
}

.wire-gram-3 {
    width: 24.848rem;
    height: 13.8rem;
    background: url("../images/wireframes/wiregrame_3@2x.png") center 0;
    background-size: cover;
    position: relative;
}

.wire-gram-3:before {
    content: '';
    width: 10.31rem;
    height: 0.75rem;
    background: url("../images/wireframes/arrow_left@2x.png") center 0;
    background-size: cover;
    position: absolute;
    top: 50%;
    left: -14rem;
}

.wire-gram-4 {
    width: 24.848rem;
    height: 13.8rem;
    background: url("../images/wireframes/wiregrame_4@2x.png") center 0;
    background-size: cover;
    position: relative;
}

.wire-gram-4:before {
    content: '';
    width: 10.31rem;
    height: 0.75rem;
    background: url("../images/wireframes/arrow_left@2x.png") center 0;
    background-size: cover;
    position: absolute;
    top: 50%;
    left: -14rem;
}

.wire-gram-5 {
    width: 24.848rem;
    height: 13.8rem;
    background: url("../images/wireframes/wiregrame_5@2x.png") center 0;
    background-size: cover;
}

.wire-gram-6 {
    width: 24.848rem;
    height: 13.8rem;
    background: url("../images/wireframes/wiregrame_6@2x.png") center 0;
    background-size: cover;
    position: relative;
}

.wire-gram-6:before {
    content: '';
    width: 10.31rem;
    height: 0.75rem;
    background: url("../images/wireframes/arrow_right@2x.png") center 0;
    background-size: cover;
    position: absolute;
    top: 50%;
    left: -14rem;
}

.wire-gram-7 {
    width: 24.848rem;
    height: 13.8rem;
    background: url("../images/wireframes/wiregrame_7@2x.png") center 0;
    background-size: cover;
    position: relative;
}

.wire-gram-7:before {
    content: '';
    width: 10.31rem;
    height: 0.75rem;
    background: url("../images/wireframes/arrow_right@2x.png") center 0;
    background-size: cover;
    position: absolute;
    top: 50%;
    left: -14rem;
}

.flight-search {
    position: relative;
    padding-top: 10rem;
}

.flight-search .container {
    padding-bottom: 0;
}

.flight-search h3 {
    font-size: 2.4rem;
    font-weight: bold;
    font-stretch: condensed;
    text-transform: uppercase;
    color: #ff3d42;
    padding-bottom: 3rem;
}

.flight-search .subtitle {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4rem;
    font-weight: normal;
    color: #102c3a;
    padding-bottom: 21rem;
}

.custom-form {
    width: 40%;
}

.custom-range, .custom-checkbox {
    padding: 0.5rem 0;
}

.custom-range {
    justify-content: space-between;
    align-items: center;
}

.custom-form label, .custom-form .title1, .custom-form .title2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    color: #102c3a;
    padding-left: 2rem;
}

.custom-form .title1 {
    padding-right: 5rem;
}

.custom-form .title2 {
    padding-right: 7.6rem;
}

.custom-checkbox label[for="direct"]{
    padding-right: 12rem;
}

.custom-checkbox label[for="economy"]{
    padding-right: 10.5rem;
}

.mockup-image {
    position: absolute;
    top: 10rem;
    right: 0;
    width: 58.275rem;
    height: 51.45rem;
    background: url("../images/mockup_1@2x.png"),no-repeat center 0;
    background-size: cover;
}

.ticket {
    justify-content: space-between;
    padding-top: 22rem;
}

.ticket-image {
    width: 56.4rem;
    height: 23.3rem;
    background: url("../images/tickets_info@2x.png"),no-repeat center 0;
    background-size: cover;
}

.ticket-info {
    padding-top: 6rem;
}

.ticket-info .subtitle {
    padding-bottom: 0;
}

footer .container {
    justify-content: space-between;
    padding-top: 15rem;
}

.back-to-portfolio {
    width: 4rem;
    height: 4rem;
    background: url("../images/arrow_back@2x.png") center 0;
    background-size: cover;
}

.next-case {
    width: 4rem;
    height: 4rem;
    background: url("../images/arrow_back@2x.png") center 0;
    background-size: cover;
    transform: rotate(180deg);
}

.back-text, .next-text {
    padding-left: 1.5rem;
    color: #193a4a;
    font-size: 1.7rem;
    font-weight: bold;
}

.next-text {
    padding: 0 1.5rem 0 0;
}